anyio
asttokens
beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
comm
debugpy
decorator
executing
fastapi
flask
fuzzywuzzy
geopy
greenlet
h11
httpcore
httpx
idna
ipykernel
ipython
itsdangerous
jedi
jinja2
joblib
jupyter-client
jupyter-core
markupsafe
matplotlib-inline
msgpack
nest-asyncio
numpy
packaging
pandas
parso
pexpect
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pygments
pynvim
python-dateutil
python-dotenv
pytz
PyPDF2
pyzmq
requests
scikit-learn
scipy
six
sniffio
soupsieve
stack-data
threadpoolctl
tornado
traitlets
typing-extensions
tzdata
urllib3
uvicorn
wcwidth
werkzeug
atoma